# Binaries & build artifacts
*.exe
*.o
*.obj
*.log

# Editor & OS files
.vscode/
.idea/
Thumbs.db
Desktop.ini

# Node
node_modules/
npm-debug.log*

# Large media files (too big for git)
*.mp3
*.wav
*.flac
*.aac

# Local environment
.env
.env.local
.vercel
